*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    line-height: 1.25;
}
header,
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    max-width:700px;
    gap:2rem;
    padding: 0 2.5rem;
}
section{
    background-color: aliceblue;
    width:100%;
}
h1 {
    font-size: min(calc(1.45rem + 3.5vw), 2.72rem);
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: min(calc(0.9rem + 3vw), 2rem);
  }
  
  h4 {
    font-size: min(calc(0.6rem + 2.8vw), 1.65rem);
  }
  
  h5, .high {
    font-size: min(calc(0.55rem + 2.7vw), 1.4rem);
    font-weight: 450;
  }
  
  h6, .low, p {
    font-size: min(calc(0.43rem + 2.3vw), 1.1rem);
  }

.hourly-scroll{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    grid-template-columns: unset; 
    grid-template-rows: unset;
    overflow: scroll;
}

.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    flex: auto;
    background-color: aquamarine;
    margin:1.25rem;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.today{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1rem;
}

.forecast{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: auto auto;
}

.header{
    grid-column: span 3/4;
}
.forecast-time{
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: .25rem;
    margin-left: .25rem;
}
.current{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-around;
    place-items: center;
    margin-top: -0.7rem;
}
.current-temp{
    font-size: min(calc(3.3rem + 4vw), 5.3rem);
    font-weight: bold;
}

form {
    position: relative;
    flex: 1 1 auto;
    display: grid;
    min-width: 0;
  }
  
#search-input {
    background-color:#075985;
    border-radius: 24px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    color: white;
    font-size: 1rem;
    padding: .4rem 2.4rem .4rem 1rem;
    min-width: 0;
    height: 2.3rem;
  }
button > svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
  }
button{
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 6px;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}